.place-order{
    margin: 80px 6%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.place-order-left{
    width: 35%;
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;

}
.place-order-left input{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    outline-color: tomato;
}
.place-order-left .multi-feilds{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 35%;
}
.place-order-right .cart-total button{
    margin-top: 30px;
}