.Header{
    margin:40px;
    margin-left: 10px;
    position: relative;
    height: 40vw;
}
.Header-Content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25vw;
    max-width: 50%;
    bottom: 10%;
    left: 3vw;
    animation: fadeIn 3s;
}
.Header-Content h2{
    font-weight: 500;
    color: #fff;
    font-size: max(4.5vw ,22px);
}
.Header-Content p{
    font-size: 1.2rem;
    color: #fff;
}
.Header-Content button{
    border: none;
    font-weight: 500;
    color: #747474;
    padding: 1vw 2.3vw;
    background-color: white;
    border-radius: 50px;
    font-size: max(1vw ,13px);
}
.Header-Content button:hover{
    color: tomato;
}