*{
    padding: 0px;
    margin: 0px;
}

.LogInForm{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: grid;

}
.LogInForm-PopUp{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color:white;
    display :flex;
    flex-direction: column;
    gap: 25px; 
    padding: 25px 30px; 
    border-radius: 8px;
    font-size:14px;
    animation: fadeIn 0.5s;
}
.Login-title{ 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color:black;
}
.Login-title img{
    width: 20px;
    cursor: pointer;
} 
.Login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
.Login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px; 
    border-radius:4px;
}
    
.LogInForm-PopUp button{
    border: none;
    padding: 10px; 
    border-radius: 4px;
    color:white;
    background-color:tomato; 
    font-size: 15px; 
    cursor:pointer;
 }  
.Login-Form-Conditions{ 
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.Login-Form-Conditions input{
    margin-top: 5px;
}
.Login-pops p span{
    color:tomato;
    font-weight: 500; 
    cursor:pointer;
}    